.register-button {
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #272F6F;
  background:#F1F1F6;
  padding: 0.6rem 2rem;
  border: none;
  outline: 1.5px solid transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.register-button:hover {
  color: #F1F1F6;
  background: #272F6F;
}
