.navbar {
  background: #fff;
}

.logo {
  width: 4rem;
  height: auto;
  cursor: pointer;
}

.menu-item {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
  color: #272f6f;
  position: relative;
  cursor: pointer;
}

.menu-item::before {
  content: " ";
  width: 2rem;
  height: 0.2rem;
  position: absolute;
  background: #ec1d24;
  border-radius: 0.5rem;
  bottom: -0.6rem;
  opacity: 0;
  transform: translateX(-1.5rem);
  transition: all 0.3s ease;
}

.menu-item:hover::before {
  width: 100%;
  transform: translateX(0);
  opacity: 1;
}

.menu-btn {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.4rem;
  color: #f1f1f6;
  background: #272f6f;
  line-height: 0;
  cursor: pointer;
  transition: all 0.4s ease;
  display: none;
}

.menu-btn:hover {
  color: #272f6f;
  background: #f1f1f6;
  border: 1px solid #272f6f;
}

@media (max-width: 769px) {
  .logo {
    width: 3rem;
    height: auto;
  }

  .menu-btn {
    display: block;
  }
}
