.hero-container {
  display: flex;
  align-items: center;
  position: relative;
}

.hero-container::after {
  content: " ";
  width: 28.125rem;
  height: 28.125rem;
  border-radius: 28.125rem;
  background: #c44747;
  position: absolute;
  z-index: -1;
  filter: blur(255px);
}

.hero-container::before {
  content: " ";
  width: 28.125rem;
  height: 28.125rem;
  border-radius: 28.125rem;
  background: #272F6F;
  position: absolute;
  z-index: -1;
  filter: blur(255px);
}

.hero-container::after {
  top: -3rem;
  left: -5rem;
}

.hero-container::before {
  bottom: 2rem;
  right: 0rem;
}

.hero-content {
  flex: 1;
  margin: 6rem 0;
}

.hero-img {
  margin-top: 5rem;
}

.hero-img img {
  width: 20rem;
  border-radius: 2rem;
}

.hero-content h2 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 5rem;
}

.hero-content p {
  width: 80%;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 2rem;
}

@media screen and (max-width: 768px) {
  .hero-content {
    margin: 4rem 0;
  }
  .hero-content h2,
  .hero-content p {
    width: auto;
    text-align: center;
  }

  .hero-content h2 {
    font-size: 2.5rem;
  }

  .hero-container::after,
  .hero-container::before {
    content: " ";
    width: 18rem;
    height: 18rem;
  }

  .hero-container::after {
    top: 0rem;
    left: 0rem;
  }

  .hero-container::before {
    bottom: 2rem;
    right: 0rem;
  }
}

@media screen and (max-width: 426px) {
  .hero-content h2 {
    font-size: 2rem;
    line-height: 3rem;
  }
}
