.description-container {
  margin-top: 2rem;
  position: relative;
  text-align: center;
  background: #fff;
  max-height: 7rem;
  padding: 0 10px;

}

.description-container h5 {
  font-size: 1.5rem;
  font-weight: 600;
}

.description-content {
  background: #272f6f;
  border-radius: 0.65rem;
  top: -6rem;
}

.description-card {
  padding: 1rem;
  cursor: grab;
}

.description-card i {
  font-size: 2rem;
  margin-top: 0.7rem;
}

.description-card h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1.3rem;
}

.description-card p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #f1f1f6c0;
}

@media (max-width: 1024px) {
  .description-content {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 425px) {
  .description-card {
    padding: 0.5rem;
  }
}
